Thumbs.db
*.kdev4
.user
.directory
resources/CMakeFiles
*~
*.swp
html/

# Project Files
*.pro.user
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeSettings.json
/.project
/.settings
/.idea
/.vscode
/.vs
cmake-build-*/
Debug

# Build dirs
[B,b]uild-*
build/[B,b]uild
build/[B,b]uild-*
util/buildbot/[B,b]uild
util/buildbot/[B,b]uild-*

# Install dirs
build/i_[S,s]hady[L,l]auncher
build/i_[S,s]hady[L,l]auncher-*
build/[S,s]hady[L,l]auncher
build/[S,s]hady[L,l]auncher-*
[I,i]nstall
[I,i]nstall-*

# Release dirs
build/release

# direnv / Nix
.direnv/
.pre-commit-config.yaml

# Ctags File
tags

# YouCompleteMe config stuff.
.ycm_extra_conf.*

#OSX Stuff
.DS_Store

branding/
secrets/
run/

.cache/

# Nix/NixOS
result/

# Flatpak
.flatpak-builder
flatbuild

# Snap
*.snap
